{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- List of uploaded documents -->
<div class="overlay"></div>
<div class="container">
    <h1>Upload Centre</h1>
    {% if orders %}
    <p>Orders requiring artwork listed below.</p>
    <ul>
        {% for order in orders %}
        <li><a href="{{ order }}">{{ order }}</a></li>
        <!-- Submit form with encoding type for images -->
        <form action="{% url 'upload_artwork' order.order_number %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            
            <!-- <input type="select" value="{{ order }}"> -->
            <p><input type="submit" value="Upload" /></p>
        </form>

        <!-- <form action="{% url 'upload_artwork' order.order_number %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.upload.label_tag }} {{ form.upload.help_text }}</p>

        <p>
            {{ form.upload.errors }}
            {{ form.upload }}
        </p>

        <p><input type="submit" value="Upload" /></p>
    </form> -->
        
        {% endfor %}
        {% else %}
        <p>You have no Orders requiring Artwork at this time. If you would like to amend your artwork, please <a href="{% url 'contact' %}">contact us</a>.</p>
        {% endif %}
    </ul>

    {% if files %}
    Your Uploads:
    <ul>
        {% for file in files %}
        <li><a href="{{ file.upload.url }}">{{ file.upload.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No files.</p>
    {% endif %}
</div>

{% endblock %}