{% extends "base.html" %}
{% load static %}

{% block title_suffix %}- Artwork Centre{% endblock %}

{% block add_css %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- List of uploaded documents -->
<div class="overlay"></div>
<div class="container">
    <div class="row artwork">
        <div class="col-12">
            <hr>
            <h2>Upload Centre</h2>
            <hr>
            {% if orders %}
            <p>Orders requiring artwork listed below.</p>

            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th>View Order</th>
                        <th>Order Date</th>
                        <th>Artwork Required</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td class="align-middle">
                            <a href="{% url 'past_order' order.order_number %}"
                                class="btn">{{ order|truncatechars:15 }}</a>
                            </a>
                        </td>
                        <td class="align-middle">
                            {{ order.date }}
                        </td>
                        <td>
                            <form action="{% url 'upload_artwork' order.order_number %}" method="post"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}

                                <!-- <input type="select" value="{{ order }}"> -->
                                <p><input class="btn" type="submit" value="Upload" /></p>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>You have no Orders requiring Artwork at this time. If you would like to amend your artwork, please <a
                    href="{% url 'contact' %}">contact us</a>.</p>
            {% endif %}

            <div class="row">
                <div class="col-12">
                    <hr>
                    <h2>Previous Uploads</h2>
                    <hr>
                    {% if files %}
                    <p class="text-center">Your previously uploaded artwork files are listed below.</p>
                    <ul class="list-unstyled text-center">
                        {% for file in files %}
                        <li><a href="{{ file.upload.url }}">{{ file.upload.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>You have no Previous Uploads.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endblock %}

        {% block postjs %}
        {{ block.super }}
        <script type="text/javascript">
            $('#new-file').change(function () {
                var file = $('#new-file')[0].files[0];
                $('#filename').text(file.name);
            });
        </script>
        {% endblock %}