{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 text-black">
                    Excellence In Print
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'services' %}" class="btn btn-lg">Print Services</a>
                        <a href="{% url 'contact' %}" class="btn btn-lg">Contact Us</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}