{% extends "base.html" %}
{% load static %}

{% block title_suffix %}- Home{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 text-black">
                    Excellence In Print
                </h1>
                <p>With over 50 years in the industry, our standards are high and our services are refined and fast.</p>
                <p>Check out the services we offer to buy online, and if you can't find what you're looking for then feel free to contact us for bespoke jobs.</p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'services' %}" class="btn btn-lg">Print Services</a>
                        <a href="{% url 'contact' %}" class="btn btn-lg">Contact Us</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}