@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
    font-family: 'Roboto';
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: url('/media/overlay-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
	z-index: -1;
}

header {
    padding: 0 !important;
    border-bottom: 10px solid black;
}

.logo {
    margin-right: 1rem;
}

.navbar {
    background-color: #001087 !important;
    height: 72px;
    padding: 0 20px;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-index,
.nav-item {
    padding: 0 5px;
}

.nav-link {
    padding: 0 8px;
}

.dd-icon {
    padding-right: 15px;
}

.nav-item {
    transition: all .2s ease-in-out;
    margin: 0.5rem;
}
    
.nav-item:hover {
    transform: scale(1.1);
}

/* Headers */

h2 {
    font-weight: 500;
    text-align: center;
    color: #001087;
}

/* Social Links */

.social {
    padding: 0 0.5rem;
}

.social a i {
    width: 30px;
    height: 30px;
    padding: 6px 1px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: #133510;
    border: 1px outset transparent;
}

.social a i:hover {
    border: 1px solid #fff;
}

/* Tables */

th,
td {
    text-align: center;
}

.container {
        padding: 100px 0;
    }

    .btt-button {
        border: 0 !important;
        margin: 0 auto;
        position: fixed;
        height: 20px;
        width: 100%;
        bottom: 70px;
        left:0px;
        z-index: 999;
        background-color: black;
    }
    
    .btt-link {
        cursor: pointer;
    }

    footer {
        background-color: #001087 !important;
        height: 72px;
        border-top: 10px solid black;
    }

    .cart {
        display: block;
        position: fixed;
        top: 82px;
        right: 0px;
        z-index: 999;
        background-color: #001087 !important;
        overflow: visible;
    }

    .cart-inner {
        padding: 1rem;
    }

    .message-container {
        position: fixed;
        bottom: 85px;
        right: 15px;
        z-index: 999;
    }

    .toast-header {
        background-color: #001087 !important;
    }

    .custom-toast {
        overflow: visible;
    }
    
    .toast-capper {
        height: 2px;
    }

/* Generic Buttons */

.btn {
    border-radius: 0.3rem;
    color: #fff;
    background-color: #001087;
}

.btn:hover {
    color: #fff;
    background-color: #001087;
}

/* Clearable File Input Buttons */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Mini Cart Buttons */

.cart .btn {
    border-radius: 0.3rem;
    color: #001087;
    background-color: #fff;
}

.cart .btn:hover {
    color: #fff;
    background-color: #6489fa;
}

/* Nav Searchbar */

.navbar form {
    margin-top: 0.8rem;
}

.search-input {
    margin-top: 0 !important;
}

/* Services */

.card-anchor a,
.card-anchor a:link,.card-anchor,
.card-anchor a:visited,
.card-anchor a:hover,
.card-anchor a:active{
    text-decoration: none !important;
    
}

.card {
    transition: all .2s ease-in-out;
    margin: 0.5rem;
}

.card:hover {
    transform: scale(1.03);
}

.card .btn {
    position: relative;
    z-index: 999;
}

.card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4; 
    -webkit-box-orient: vertical;
}