{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Message Centre</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if user_messages %}
                <p class="text-muted">Your Contact History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>View Message</th>
                                <th>Date</th>
                                <th>Subject</th>
                                <th>Message</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in user_messages %}
                                <tr>
                                    <td>
                                        <a class="btn" role='button' href="{% url 'past_message' message.id %}">Message: {{ message.id }}</a>
                                        </a>
                                    </td>
                                    <td>{{ message.date }}</td>
                                    <td>
                                        {{ message.subject }}
                                        </ul>
                                    </td>
                                    <td>{{ message.message|truncatechars:20 }}</td>
                                    <td>
                                        <!-- {{ message.subject }} -->
                                        {% if message.subject == 'GENERAL' %}
                                        <small class="ml-3">
                                            <a class="btn" role='button' href="">Edit Query</a>
                                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="">
                                                Delete
                                            </button>  
                                        </small>
                                        {% endif %}
                                        {% if message.subject == 'QUOTE' %}
                                        <small class="ml-3">
                                            <a class="btn" role='button' href="">Edit Quote</a>
                                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="">
                                                Delete
                                            </button>  
                                        </small>
                                        {% endif %}
                                        {% if message.subject == 'COMPLAINT' %}
                                        <small class="ml-3">
                                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="">
                                                Resolved
                                            </button>  
                                        </small>
                                        {% endif %}
                                        {% if message.subject == 'PARTNERS' %}
                                        <p>Someone will contact your shortly.</p>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <p class="text-muted">You have no Saved Messages</p>
            {% endif %}
        </div>
        </div>

{% endblock %}