{% extends "base.html" %}
{% load static %}

{% block title_suffix %}- Order History{% endblock %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Order History</h2>
                <hr>
            </div>
        </div>
        <div class="row orders">
            <div class="col-12">
                <p class="text-muted">Your Orders Below</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>View Order</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a class="btn" role='button' href="{% url 'past_order' order.order_number %}">{{ order.order_number|truncatechars:15 }}</a>
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {{ item.service.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        {{ profile.default_address_line1 }}
        {{ profile.default_address_line2 }}
        {{ profile.default_city }}
        {{ profile.default_county }}
        {{ profile.default_postcode }}
        {{ profile.default_country }}
        {{ profile.default_phone_number }}
{% endblock %}
