{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">{{ message.subject }}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-muted">{{ message.message }}</p>
                <div class="order-history table-responsive">
                    <td>
                        <a href=""
                        title="{{ message.id }}">
                            {{ message.id }}
                        </a>
                    </td>
                    <td>Date</td>
                    <td>
                        {{ message.subject }}
                        </ul>
                    </td>
                    <td>{{ message.message }}</td>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-right">
				<a href="{% url 'message_centre' %}" class="btn btn-black rounded-0 my-2">
					<span class="icon mr-2">
						<i class="fa-solid fa-arrow-rotate-left"></i>
					</span>
					<span class="text-uppercase">Back to Message Centre</span>
				</a>
			</div>
		</div>

{% endblock %}

<tr>
   