<div class="cart" role="alert" aria-live="assertive" aria-atomic="true">

    {% if grand_total %}
    <div class="text-center" style="background-color: black;">
        <i class="fa-solid fa-angle-down text-white align-top"></i>
    </div>
    <div class="cart-inner">
    <p class="text-white py-1"><strong>Cart</strong> ({{ service_count }} impressions)</p>
    <div>
        {% for item in cart_items %}
        {% if item.service.image %}
        <div class="row">
            <div class="col-3 my-1">
                <img width='48' height='48' class="border border-secondary"
                    src="{{ MEDIA_URL }}{{ item.service.image }}">
            </div>
        {% else %}
            <div class="row">
                <div class="col-3 my-1">
                    <img width='48' height='48' class="border border-secondary" src="{{ MEDIA_URL }}placeholder.jpg">
                </div>
        {% endif %}
                <div class="col-9">
                    <p class="my-0 text-white"><strong>{{ item.service.name }}</strong></p>
                    <p class="my-0 small text-white">Qty: {{ item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <strong>
                    <p class="mt-3 mb-1 text-white">
                        Total{% if delivery_dearth > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right">£{{ total|floatformat:2 }}</span>
                    </p>
                </strong>
                <p class="text-white">
                    {% if delivery_dearth %}
                    Spend <strong>£{{ delivery_dearth }}</strong> more to get free delivery!
                    {% endif %}
                </p>
                <div class="float-end">
                <button id="close" class="btn btn-white mt-2">Close</button>
                <a href="{% url 'cart' %}" class="btn mt-2">
                    <span class="icon">
                        <i class="fa-solid fa-cart-flatbed"></i>
                    </span>
                    <span>View Cart</span>
                </a>
            </div>
            </div>
        </div>
    </div>
        {% endif %}
    </div>