{% extends "account/base.html" %}
{% load static %}

{% block add_css %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <hr>
    <h2>{% trans "Change Password" %}</h2>
    <hr>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn float-end mt-2" name="action">{% trans "Change Password" %}</button>
    </form>

{% endblock %}
