{% extends "base.html" %}
{% load static %}

{% block title_suffix %}- ERROR 404{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content%}
<div class="col-12 text-center">
    <!-- Venture Press Logo -->
    <img src="">
</div>
<h1>ERROR 404</h1>
<h2>Woops - Youre in the dark room!</h2>
<!-- Error message -->
<p>{{ error }}</p>
<p>Click below to get back to go back to the Home Page!</p>
<!-- Anchor directing to home page -->
<a href="{% url 'home' %}">Home</a>

{% endblock %}