{% extends "base.html" %}
{% load static %}

{% block title_suffix %}- Edit Message{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 col-offset-2">
            <h2>Edit Message</h2>
            <p class="text-center">Editing <strong>{{ message.subject }}</strong> message number <strong>{{ message.id }}</strong> on
                {{ message.date }}</p>
            <form method="POST" action="{% url 'edit_message' message.id %}" class="form mb-2">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="float-end">
                    <a class="btn mt-2" href="{% url 'message_centre' %}">Back to Messages</a>
                    <button class="btn mt-2" type="submit">Confirm Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}