{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Venture Press Services</h2>
    <!-- Indexing Results -->
    <p class="text-center">
        {% if query %}
            <span class="small"><a href="{% url 'services' %}">Back to Services</a> | </span>
            Your search returned {{ services|length }} Result{% if services|length > 1 or services|length == 0 %}s{% endif %} for <strong>"{{ query }}"</strong>
        {% elif categories %}
        Filtered by <strong>"{{ categories.0 }}"</strong>'
        {% endif %}
    </p>
    <div class="row">
    {% for service in services %}
    
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card"><a href="{% url 'service_detail' service.id %}">
                {% if service.image %}
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ service.image }}" alt="{{ service.name }}">
                        {% else %}
                    <img class="card-img-top" src="{{ MEDIA_URL }}placeholder.jpg" alt="{{ service.name }}">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">£{{ service.price }} per printed unit</li>
                    <li class="list-group-item">{{ service.paper_size }} (other sizes available)</li>
                    <li class="list-group-item">{{ service.category.friendly_name }}</li>
                    <li class="list-group-item">
                        <a href="{% url 'service_detail' service.id %}" class="card-link">Customise Order</a></li>
                </ul>
                {% if request.user.is_superuser %}
                <div class="card-body">
                    <small class="ml-3">
                        <a href="{% url 'edit_service' service.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_service' service.id %}">Delete</a>
                    </small>
                </div>
                {% endif %}
            </div>
        </div>
    
    {% endfor %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
<!-- Back to top button -->
<div class="btt-button" data-toggle="tooltip" data-placement="top" title="Scroll To Top">
    <a class="btt-link d-flex h-100">
        <i class="text-white fa-solid fa-angle-up mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postjs %}
    {{ block.super }}
    <script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    <script type="text/javascript">
        $('#exampleModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
        })
    </script>
{% endblock %}

