{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    {% for service in services %}
    
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card"><a href="{% url 'service_detail' service.id %}">
                <img class="card-img-top" src="/media/{{ service.image }}" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">£{{ service.price }} per printed unit</li>
                    <li class="list-group-item">{{ service.paper_size }} (other sizes available)</li>
                    <li class="list-group-item">More Information</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Customise Order</a>
                </div>
            </div>
        </div>
    
    {% endfor %}
</div>
</div>
{% endblock %}