{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Venture Press Services</h2>
    <!-- Indexing Results -->
    <p class="text-center">
        {% if query %}
            <span class="small"><a href="{% url 'services' %}">Back to Services</a> | </span>
            Your search returned {{ services|length }} Result{% if services|length > 1 %}s{% endif %} for <strong>"{{ query }}"</strong>
        {% endif %}
    </p>
    <div class="row">
    {% for service in services %}
    
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card"><a href="{% url 'service_detail' service.id %}">
                <img class="card-img-top" src="/media/{{ service.image }}" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">£{{ service.price }} per printed unit</li>
                    <li class="list-group-item">{{ service.paper_size }} (other sizes available)</li>
                    <li class="list-group-item">More Information</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Customise Order</a>
                </div>
            </div>
        </div>
    
    {% endfor %}
</div>
</div>
<!-- Back to top button -->
<div class="btt-button" data-toggle="tooltip" data-placement="top" title="Scroll To Top">
    <a class="btt-link d-flex h-100">
        <i class="text-white fa-solid fa-angle-up mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postjs %}
    {{ block.super }}
    <script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}